.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  animation: fadeIn 0.2s ease-out;
}

.modal {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(16px);
  border-radius: 16px;
  padding: 24px;
  width: 380px;

  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);

  animation: scaleIn 0.25s ease-out;
}

.modal h3 {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.group {
  margin-bottom: 18px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #333;
}

.options {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  flex-wrap: wrap;
}

.options button {
  padding: 6px 12px;
  border-radius: 8px;
  background: #f2f2f2;
  border: 1px solid #d0d0d0;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 500;
}

.options button:hover {
  background: #b4bac3;
}

.options button.active {
  background-color: #28a745;
  color: white;
  border-color: #22663c;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.btn-save {
  background: #2563eb;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-save:hover {
  background: #1d4ed8;
}

.btn-cancel {
  background: #e5e7eb;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-cancel:hover {
  background: #b4bac3;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.92);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
