<div class="task-detail-container" *ngIf="!loading; else loadingTpl">
  <h2>Edit Task</h2>

  <form [formGroup]="form" (ngSubmit)="save()">
    <label>Title</label>
    <input formControlName="title" class="input" />
    <div class="error-msg" *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      Title is required
    </div>

    <label>Description</label>
    <textarea formControlName="description" class="textarea"></textarea>
    <!-- STATUS DROPDOWN -->
    <div class="form-group dropdown-group">
      <label>Status</label>

      <div class="dropdown" (click)="toggleStatusMenu()" tabindex="0">
        <div class="dropdown-selected">
          {{ form.get('status')?.value }}
        </div>

        <div class="dropdown-menu" *ngIf="statusMenuOpen">
          <div
            *ngFor="let s of statuses"
            class="dropdown-item"
            (click)="selectStatus(s); $event.stopPropagation()"
          >
            {{ s }}
          </div>
        </div>
      </div>
    </div>

    <!-- PRIORITY DROPDOWN -->
    <div class="form-group dropdown-group">
      <label>Priority</label>

      <div class="dropdown" (click)="togglePriorityMenu()" tabindex="0">
        <div class="dropdown-selected">
          {{ form.get('priority')?.value }}
        </div>

        <div class="dropdown-menu" *ngIf="priorityMenuOpen">
          <div
            *ngFor="let p of priorities"
            class="dropdown-item"
            (click)="selectPriority(p); $event.stopPropagation()"
          >
            {{ p }}
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="submit" class="btn-save">Save</button>
      <button type="button" class="btn-cancel" (click)="cancel()">Cancel</button>
    </div>
  </form>
</div>

<ng-template #loadingTpl>
  <p>Loading task...</p>
</ng-template>
